.ingredients {
  margin-left: 1.7em;
}

.ingredients .col-xs-8 {
  margin-right: 0.5em;
}

.ingredients .row {
  margin-bottom: 1em;
}

.ingredients .col-xs-2 {
  margin-right: 0.5em;
}

div.buttons button {
  margin: 1em;
}
